name: Deploy Backend

on:
  push:
    branches: ['main']

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: |
            ${{ secrets.SERVER_SSH_KEY }}
          debug: true
          script: |
            set -e
            cd /home/ubuntu/piscinas-elmaipo/backend

            git fetch origin
            git reset --hard origin/main
            
            npm install --legacy-peer-deps
            npm run build
            pm2 restart piscinas-backend --update-env
